body {
	font-family: impact;
	font-size: 32px;
	background-color: black;

}

a {
	color:red;
}




.active {
	background-color: blue;
}

.move {
	left: -98.5vw;
	transition: 4s;
}

.title {
	position: absolute;
	top: 2vh;
	left: 0vh;
	width: 100vw;
	text-align: center;
	font-size: 15vh;
	color: red;
	transform: skew(-30deg);
	text-shadow: 2px 2px black;


}

.nav {
	width:100%;
	padding:20px;
	position:absolute;
	top: 13vh;
	left: 1vw;
	display: flex;
	justify-content: space-around;
	text-transform: uppercase;
	font-size: 4vh;


}


.flag {
	position: absolute;
	top: 0vh;
	left: 0vh;
	width: 100vw;
	height: 25vh;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
	padding: 0px;
}

.point {
	background-color: white;
	position: right;
	width: 5vw;
	height: 5vh;
	padding: 0px;

}

.point.black {
	background-color: black
}

.container {
	position: absolute;
	top: 23vh; 
	left: 0vw;
	right: 0vw;
	margin: 1vw;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;

}


.item {
	position: right;
	width: 10%;
}

.item img {
	max-width: 100%;
	display: block;
	padding-bottom: 5px;
	padding-right: 5px;
	justify-content: space-around;
}

.item.hide {
	display: none;
}

.item:hover {
	transform: scale(1.25);
}

.btn {
	border:1px none;
	padding:10px;
	border-radius: 10px;
	background-color: none;
	color: red;
}

.btn:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

.footer {
	height: 100px;
	width: 100vw;
	position: fixed;
	top: 95vh;
	left: 50px;
	background-color: none;
	color: black;
	text-transform: uppercase;
	text-align: center;
	font-size: 10px;

}


