body {
	font-family: impact;
	font-size: 18px;
	background-color: black;
	color: white;

}

a {
	color:red;
	text-decoration: none;
}




.active {
	background-color: blue;
}

.move {
	left: -98.5vw;
	transition: 4s;
}

.title {
	position: absolute;
	top: 2vh;
	right: 0vh;
	width: 50vw;
	left: 0vw;
	text-align: center;
	font-size: 15vh;
	color: red;
	transform: skew(-30deg);
	text-shadow: 2px 2px black;


}

.nav {
	width:50%;
	position:absolute;
	padding: 2vh;
	top: 2vh;
	left: 50vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-transform: uppercase;
	font-size: 4vh;


}


.flag {
	position: absolute;
	top: 0vh;
	left: 0vh;
	width: 100vw;
	height: 25vh;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
}

.point {
	background-color: white;
	position: right;
	width: 5vw;
	height: 5vh;

}

.point.black {
	background-color: black
}

.container {
	position: absolute;
	top: 23vh; 
	left: 0vw;
	right: 0vw;
	margin: 1vw;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
	font-family: arial;
	text-transform: uppercase;
	font-size: 1.5vh;

}


.item {
	position: right;
	width: 10%;
}

.item img {
	max-width: 100%;
	display: block;
	padding-bottom: 5px;
	padding-right: 5px;
	justify-content: space-around;
}

.item.hide {
	display: none;
}

.item:hover {
	transform: scale(1.25);
}

.btn {
	width: 30%;
	border:1px none;
	padding:10px;
	border-radius: 10px;
	background-color: none;
	color: red;
	text-align: center;
}

.btn:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

.footer {
	height: 100px;
	width: 100vw;
	position: absolute;
	top: 130vh;
	background-color: none;
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-size: 10px;

}

@media (max-width: 450px) {
	body {
		background-color: red;
	}	

	.flag {
		height: 125px;
	}

	.point {
		height: 25px;
	}

	.title {
		top: 25px;
		font-size: 50px;
	}

	.item {
		width: 48%;
	}
	.container {
		top: 125px;

	}

	.footer {
		top: 3750px;
	}
	.nav {
		width: 50%;
		font-size: 10px;
	}

	.btn {
		width: 30%;
	}
}


