body{
	background-color: #36454f;
}

.opaque {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: lightblue;
	opacity: 30%;
}

.forecastbox {
	position: fixed;
	left:0px;
	width:100vw;
	height: 80px;
	background-color:lightblue;
	color: white;
	font-family: courier;
	font-size: 10px;
	text-align: right;
}

.name {
	position:fixed;
	top: 95vh;
	left: 82vw;
	font-family: courier;
	font-size: 10px;
	color: white;
}



.forecast {
	position: fixed;
	left: 0px;
	top: 10px;
	width: 100vw;
	height: 70px;
	font-size: 65px;
	text-align: center;
	overflow-x: scroll;
	white-space: nowrap;
	background-color: lightblue;
	font-family: courier;
	color: navy;
	animation:
	nudge 10s ease infinite alternate ;
	
}

	@keyframes nudge {
  0%  {
    color: navy;
  }
  50% {
  	color: lightblue;
  }
  
  75% {
    color: white;
  }
  100% {
  	color: lightblue;
  }
}



.a {
	position: fixed;
	top: 185px;
	left: 41%;
	height: 125px;
	width: 300px;
	border-radius: 125px;
	background-color: navy;
	text-align: center;
	font-size: 30px;
	font-family: courier;
	color: white;
	text-transform: uppercase;
	animation:
	hault 10s ease infinite;
	animation-delay: 10s;

}

@keyframes hault {
	0% {
		transform: translate(0,0);
	}
	50% {
		transform: translate(500px,0);
	}
	100% {
		transform: translate(0,0);
	}
}


.b {
	position: fixed;
	top: 275px;
	left: 36%;
	height: 100px;
	width: 425px;
	border-radius: 150px;
	background-color: navy;
	text-align: center;
	font-size: 30px;
	font-family: courier;
	color: white;
	text-transform: uppercase;
	animation:
	pulse 10s ease infinite;
	animation-delay: 10s;
}

@keyframes pulse {
	0% {
		transform: translate(0,0);
	}
	50% {
		transform: translate(-500px,0);
	}
	100% {
		transform: translate(0,0);
	}

}
.c {
	position: fixed;
	top: 350px;
	left: 33%;
	height: 100px;
	width: 500px;
	border-radius: 150px;
	background-color: navy;
	text-align: center;
	font-size: 30px;
	font-family: courier;
	color: white;
	text-transform: uppercase;
	animation:
	yello 5s ease infinite;
	animation-delay: 2s;
}

@keyframes yello {
	0% {
		transform: translate(0,0);
	}
	50% {
		transform: translate(50px,0);
	}
	100% {
		transform: translate(0,0);
	}

}




.zsquare {
	z-index:-2;
}

.square {
	position: absolute;
	top: 50px;
	left: 50px;
	width: 400px;
	height: 400px;
	background-color: grey;
}

.square2 {
	position: absolute;
	top: 10px;
	left: 500px;
	width: 400px;
	height: 400px;
	background-color: lightgrey;
}


.square3 {
	position: absolute;
	top: 100px;
	left: 800px;
	height: 400px;
	width: 400px;
	background-color: darkgrey;
}

.square4 {
	position: absolute;
	top: 400px;
	left: 400px;
	height: 300px;
	width: 300px;
	background-color: black;

}

.square5 {
	position: absolute;
	top: 800px;
	left: 600px;
	height: 200px;
	width: 200px;
	background-color: black;
}

.square6{
	position: absolute;
	top: 750px;
	left: 150px;
	height: 400px;
	width: 400px;
	background-color: grey;
}

.square7 {
	position: absolute;
	top: 600px;
	left: 800px;
	height: 1000px;
	width: 1000px;
	background-color: grey;
}

.square8 {
	position: absolute;
	top: 500px;
	left: 900px;
	height: 500px;
	width: 500px;
	background-color: black;
}

.square9 {
	position: absolute;
	top: 550px;
	left: 0px;
	height: 450px;
	width: 450px;
	background-color: lightgrey;
}

.square10 {
	position: absolute;
	top: 1200px;
	left: 0px;
	height: 400px;
	width: 400px;
	background-color: darkgrey;
}

.square11 {
	position: absolute;
	top: 1200px;
	left: 500px;
	height: 350px;
	width: 350px;
	background-color: darkgrey;
}


.square12 {
	position: absolute;
	top: 0px;
	left: 80%;
	height: 300px;
	width: 300px;
	background-color: grey;
}

.rain {

}

.c1 {
	position: fixed;
	top: 450px;
	left: 450px;
	height: 20px;
	width: 20px;
	border-radius: 100px;
	background-color: white;
	animation:
	doit 3s ease infinite;
}

@keyframes doit{
	0% {
		transform: translate(0,0);
	}
	100% {
		transform: translate(0,1000px);
	}
}

.c2 {
	position: absolute;
	top: 35vh;
	left: 35vw;
	height: 20px;
	width: 20px;
	border-radius: 100px;
	background-color: white;
	animation:
	doit 10s ease infinite;
}

.c3 {
	position: absolute;
	top: 20vh;
	left: 20vw;
	height: 20px;
	width: 20px;
	border-radius: 100px;
	background-color: white;
	animation:
	doit 4s ease infinite;
}

.c4 {
	position: absolute;
	top: 40vh;
	left: 40vw;
	height: 20px;
	width: 20px;
	border-radius: 100px;
	background-color: white;
	animation:
	doit 4s ease infinite;
}

.c5 {
	position: absolute;
	top: 60vh;
	left: 60vw;
	height: 20px;
	width: 20px;
	border-radius: 100px;
	background-color: white;
	animation:
	doit 5s ease infinite;
}

.c6 {
	position: absolute;
	top: 20vh;
	left: 70vw;
	height: 20px;
	width: 20px;
	border-radius: 100px;
	background-color: white;
	animation:
	doit 5s ease infinite;
}
.c7 {
	position: absolute;
	top: 60vh;
	left: 34vw;
	height: 20px;
	width: 20px;
	border-radius: 100px;
	background-color: white;
	animation:
	doit 6s ease infinite;
}

.c8 {
	position: absolute;
	top: 90vh;
	left: 60vw;
	height: 20px;
	width: 20px;
	border-radius: 100px;
	background-color: white;
	animation:
	doit 6s ease infinite;
}

.c9 {
	position: absolute;
	top: 76vh;
	left: 80vw;
	height: 20px;
	width: 20px;
	border-radius: 100px;
	background-color: white;
	animation:
	doit 7s ease infinite;
}

.c10 {
	position: absolute;
	top: 80vh;
	left: 20vw;
	height: 20px;
	width: 20px;
	border-radius: 100px;
	background-color: white;
	animation:
	doit 7s ease infinite;
}

.c11 {
	position: absolute;
	top: 55vh;
	left: 11vw;
	height: 20px;
	width: 20px;
	border-radius: 100px;
	background-color: white;
	animation:
	doit 8s ease infinite;
}

.c12 {
	position: absolute;
	top: 60vh;
	left: 80vw;
	height: 20px;
	width: 20px;
	border-radius: 100px;
	background-color: white;
	animation:
	doit 8s ease infinite;
}

.c13 {
	position: absolute;
	top: 77vh;
	left: 80vw;
	height: 20px;
	width: 20px;
	border-radius: 100px;
	background-color: white;
	animation:
	doit 9s ease infinite;
}

.c14 {
	position: absolute;
	top: 50vh;
	left: 66vw;
	height: 20px;
	width: 20px;
	border-radius: 100px;
	background-color: white;
	animation:
	doit 9s ease infinite;
}

.c15 {
	position: absolute;
	top: 80vh;
	left: 58vw;
	height: 20px;
	width: 20px;
	border-radius: 100px;
	background-color: white;
	animation:
	doit 10s ease infinite;
}

.c16 {
	position: absolute;
	top: 40vh;
	left: 60vw;
	height: 20px;
	width: 20px;
	border-radius: 100px;
	background-color: white;
	animation:
	doit 2.5s ease infinite;
}

.c17 {
	position: absolute;
	top: 44vh;
	left: 64vw;
	height: 20px;
	width: 20px;
	border-radius: 100px;
	background-color: white;
	animation:
	doit 3.5s ease infinite;
}

.c18 {
	position: absolute;
	top: 48vh;
	left: 68vw;
	height: 20px;
	width: 20px;
	border-radius: 100px;
	background-color: white;
	animation:
	doit 4.5s ease infinite;
}

.c19 {
	position: absolute;
	top: 80vh;
	left: 62vw;
	height: 20px;
	width: 20px;
	border-radius: 100px;
	background-color: white;
	animation:
	doit 5.5s ease infinite;
}

.c20 {
	position: absolute;
	top: 56vh;
	left: 20vw;
	height: 20px;
	width: 20px;
	border-radius: 100px;
	background-color: white;
	animation:
	doit 6.5s ease infinite;
}

.c21 {
	position: absolute;
	top: 60vh;
	left: 80vw;
	height: 20px;
	width: 20px;
	border-radius: 100px;
	background-color: white;
	animation:
	doit 7.5s ease infinite;
}



.zrect {
	z-index: -1;

}
.rectangle {
	position: fixed;
	top: 80px;
	left: 600px;
	width: 200px;
	height: 10px;
	border-radius: 10px;
	background-color: blue;

}

.rectangle2 {
	position: fixed;
	top: 300px;
	left: 200px;
	width: 200px;
	height: 10px;
	border-radius: 10px;
	background-color: darkblue;
}

.rect3 {
	position: fixed;
	top: 200px;
	left: 850px;
	width: 500px;
	height: 10px;
	border-radius: 10px;
	background-color: darkblue;

}

.rect4 {
	position: fixed;
	top: 50px;
	left: 50px;
	width: 450px;
	height: 10px;
	border-radius: 10px;
	background-color: darkblue;
}

.rect5 {
	position: fixed;
	top: 50px;
	left: 700px;
	width: 300px;
	height: 10px;
	border-radius: 10px;
	background-color: darkblue;
}

.rect6 {
	position: fixed;
	top: 300px;
	left: 1000px;
	width: 100px;
	height: 10px;
	border-radius: 10px;
	background-color: blue;
}

.rect7 {
	position: fixed;
	top: 400px;
	left: 400px;
	width: 450px;
	height: 10px;
	border-radius: 10px;
	background-color: lightblue;
}

.rect8 {
	position: fixed;
	top: 300px;
	left: 00px;
	width: 450px;
	height: 10px;
	border-radius: 10px;
	background-color: lightblue;
}

.rect9 {
	position: fixed;
	top: 100px;
	left: 950px;
	width: 450px;
	height: 10px;
	border-radius: 10px;
	background-color: lightblue;
}

.rect10 {
	position: fixed;
	top: 600px;
	left: 700px;
	width: 500px;
	height: 10px;
	border-radius: 10px;
	background-color: darkblue;
	}

.rect11 {
	position: fixed;
	top: 175px;
	left: 225px;
	width: 300px;
	height: 10px;
	border-radius: 10px;
	background-color: blue;
}



