body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 60px;
	text-align: center;
	background-color: #e00c32;
	color: none;
	animation: 
	changed 7s ease infinite;	
	animation-delay: 6s;	
}


@keyframes changed {
	0%  {background-color: #e00c32;}

	50% { background-color: #fe0040; }

	100%  {background-color: #e00c32;}	

}

a {
	color:red;
}


span {
	color:red;
}

.btn {
	position: absolute;
	bottom: 2vh;
	right: 2vh;
	background-color: none;
	color: black;
	font-family: avenir heavy;
	font-size: 2vh;
}

.btn:hover {
	background-color: none;
	color: white;
}

.inspo {
	position: absolute;
	bottom: 4vh;
	right: 2vh;
	font-family: avenir;
	color: white ;
	opacity: 0%;
	font-size: 2vh;	
}

.inspo.hide {
	position: absolute;
	bottom: 4vh;
	right: 2vh;
	font-family: avenir;
	color: white;
	opacity: 100%;
	font-size: 2vh;
}




.rect {
	position: relative;
	top: 0%;
	left: 25vw;
	width: 50vw;
	height: 100vh;
	background-color: none;
	justify-content: center;
}

.c1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 49vw;
	height: 49vw;
	border-radius: 49vw;	
	background-color: #5c3262;
	align-content: center;
	animation:
	changeb 60s ease infinite;	
	animation-delay: 5s;	
}

.c2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 48vw;
	height: 48vw;
	border-radius: 48vw;
	background-color: #5c3262;
	align-content: center;
	animation:
	changeb 60s ease infinite;	
	animation-delay: 4s;
}

.c3 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 44vw;
	height: 44vw;
	border-radius: 44vw;
	background-color: #5c3262;
	align-content: center;
	animation:
	changeb 60s ease infinite;	
	animation-delay: 3s;

}


.c4 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 36vw;
	height: 36vw;
	border-radius: 36vw;
	background-color: #5c3262;
	align-content: center;
	animation:
	changeb 60s ease infinite;
	animation-delay: 2s;	

}

.c5 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20vw;
	height: 20vw;
	border-radius: 20vw;
	background-color: #5c3262;
	align-content: center;
	animation:
	changeb 60s ease infinite;
	animation-delay: 1s;	

}

.c6 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 10vw;
	height: 10vw;
	border-radius: 10vw;
	box-shadow: 2px 2px 2px purple;
	background-color: #5c3262;
	align-content: center;
	animation:
	changeb 60s ease infinite;	

}


@keyframes change {
	0% { background-color:#5c3262 ; }

	15% { background-color:#82242c ; }

	30%  {background-color: #e00c32;}

	45% { background-color: #fe0040; }

	60%  {background-color: #e00c32;}	

	75% { background-color:#82242c ; }		

	100% { background-color:#5c3262 ; }


}

@keyframes changeb {
	0% { background-color:#5d2f63 ; }

	5% { background-color:#5d3048 ; }

	10%  {background-color: #622b35;}

	15% { background-color: #7b262e; }

	20%  {background-color: #99202b;}	

	25% { background-color:#b12029 ; }		

	30% { background-color:#d32030 ; }

	35%  {background-color: #cb202e;}	

	40% { background-color:#ec1b35 ; }		

	45% { background-color:#ed1c3f ; }

	50%  {background-color: #ed1847;}	

	55% { background-color:#ed1c3f ; }

	60% { background-color:#ec1b35 ; }

	65%  {background-color: #cb202e;}

	70% { background-color:#d32030 ; }	

	75% { background-color:#b12029 ; }	

	80%  {background-color: #99202b;}

	85% { background-color: #7b262e; }

	90%  {background-color: #622b35;}

	95% { background-color:#5d3048 ; }								

	100% { background-color:#5d2f63 ; }







	
		





		




}


/*	 	5d2f63
		5d3048
		642b35
		6e292f
		7b262e
		99202b
		b12029
		d32030
		cb202e
		ec1b35
		ed1c3f
		ed1847*/




