body {
	background-color: navy;
	color: white;
}

a {
	color:red;
}


span {
	color:red;
}

.titlepanel {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	height: 100vh;
}

.title {
	width: 50vw;
	height: 100vh;
	align-content: center;
	background-color: white;
	color: navy;

}

.image {
	width: 50vw;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

}

.image img {
	padding: 20px;
}

img {
	width:100%;
}

.titlea {
	font-family: dicsans, sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 11vh;
	font-weight: bold;
	letter-spacing: 6px;
	text-transform: uppercase;
	text-align: center;

}

.titleb {
	font-family: dicsans, sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 3vh;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;	
	transform: scale(2.25,28);
	text-align: center;
	margin-top: 25%;
}

.columns {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	height: 500px;
}

.col1 {
	width: 33.33%;
	height: 500px;
	background-color: navy;
	color: white;

}

.col2 {
	width: 33.33%;
	height: 500px;
	background-color: white;
	color: navy;
}

.col3 {
	width: 33.33%;
	height: 500px;
	background-color: navy;
	color: white;
}


.text {
	margin-left: 10%;
	margin-right: 10%;
	font-family: avenir;
	font-size: 2.75vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}

p {
	text-indent: 50px;
	text-align: left;
	font-family: avenir;
	font-size: 3vh;
}

.quote {
	text-align: center;
	font-style: italic;
	font-size: 10vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.quote p {
	padding: 20px;
}

.left {
	margin-left: 10%;
	margin-right: 50%;
}

.right {
	margin-left: 50%;
	margin-right: 10%
}

.bold {
	font-weight: bold;
	size: 20vh;
}

.upper {
	text-transform: uppercase;
}

.inversebg {	
	background-color: white;
	color: navy;
}
