body {
	background-color: red;
	color: white;
}

a {
	color:white;
}


span {
	color:red;
}



.titlepanel {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	height: 100vh;
	align-content: center;	
}

.title {
	width: 50vw;
	height: 100vh;
	align-content: center;
	background-color: white;
	color: red;

}

.image {
	width: 50vw;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

}

.image img {
	padding: 20px;
}

img {
	width:100%;
}

.titlea {
	font-family: dicsans, sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 4vw;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;

}

.titleb {
	font-family: dicsans, sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 2vw;
	font-weight: bold;
	letter-spacing: 5px;
	text-transform: uppercase;	
	transform: scale(2.2,20);
	text-align: center;
	margin-top: 25%;
}


.columns {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	height: 500px;
}

.col1 {
	width: 33.33%;
	height: 500px;
	background-color: red;
	color: white;

}

.col2 {
	width: 33.33%;
	height: 500px;
	background-color: white;
	color: red;
}

.col3 {
	width: 33.33%;
	height: 500px;
	background-color: red;
	color: white;
}

.text {
	margin-left: 10%;
	margin-right: 10%;
	font-family: avenir;
	font-size: 2.80vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}

p {
	text-indent: 50px;
	text-align: left;
	font-family: avenir;
	font-size: 3vh;
}

.quote {
	text-align: center;
	font-style: italic;
	font-size: 10vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.quote p {
	padding: 20px;
}

.left {
	margin-left: 10%;
	margin-right: 50%;
}

.right {
	margin-left: 50%;
	margin-right: 10%
}

.bold {
	font-weight: bold;;
}

.sml {
	font-size: 2vh;
}

.med {
	font-size: 4vh;
}

.large {
	font-size: 8vh;
}

.upper {
	text-transform: uppercase;
}

.inversebg {	
	background-color: white;
	color: red;
}

.center {
	text-align: center;
}

.italic {
	font-style: italic;
	padding: 5px;
}

.padding {
	padding: 20px;
}

.upper {
	text-transform: uppercase;
}




