body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 160px;
	text-align: center;
	color:purple;
	background-color:grey;
}

a {
	color:red;
}



.forecast {
	text-align:left;
	color:red;
}



.date {
	font-size:20px;
	padding:300px;
	background-color:red;
}

.title {
	font-size:20px;
}

.mada {
	font-size:20px;
}