body {
	background-color: red;
	color: white;
	font-family: dicsans, sans-serif;
	font-style: normal;
	font-size: 8vh;
	text-align: center;
}

a {
	color: navy;
	text-decoration: none;
}


span {
	color:red;
}


a:hover {
	background-color: none;
	color: white;
	text-shadow: 4px 4px 10px navy;
}



.titlepanel {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	height: 100vh;

}


.title {
	width: 50vw;
	height: 100vh;
	align-content: center;
	background-color: navy;
	color: red;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

}

.titlea {
	font-family: dicsans, sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 8.75vh;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;

}

.titleb {
	font-family: dicsans, sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 15vh;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}


.right {
	width: 50vw;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

}

.one {
	width: 50vw;
	height: 33vh;
	padding: 9%;

}

.two {
	width: 50vw;
	height: 33vh;
	padding: 7%;
	background-color: white;
	color: red;	
}

.three {
	width: 50vw;
	height: 33vh;
	padding: 7%;

}